* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu SA Hand", cursive;
}

body {
  background: url(https://images.unsplash.com/photo-1769114385488-3fa606ce45cb?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container {
  width: 420px;
  background: transparent;
  border: 2px solid #9b9b9b;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 30px 40px;
}

h1 {
  font-size: 36px;
  text-align: center;
  
}

.input-container {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0px;
}

.input-container input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
  
}

.input-container input::placeholder {
  color: white;
}

.input-container img {
  position: absolute;
  right: 24px;
  top: 20%;
  margin-top: 5px;
  
}

.input-container a {
  font-size: 16px;
  margin-top: 8px;
  color: white;
  text-decoration: none;
  
}

.input-container a:hover{
  text-decoration: underline
}

.submit-button {
  width: 100%;
  height: 50px;
  background-color: #5100b5;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  margin-top: 24px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.submit-button:hover {
  background-color: blueviolet
}

.register-link p {
  font-size: 16px;
  color: white;
  font-weight: 500;
  
}

.register-link {
  text-align: center;
  margin: 20px 0;
}

.register-link p a {
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  
}

.register-link p a:hover {
  text-decoration: underline;
  
}